.places {
  width: calc(100% - 155px * 2);
  margin: 91px auto 0 auto;
}

@media screen and (max-width: 1024px) {
  .places {
    width: calc(100% - 48px * 2);
    margin-top: 92px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    width: calc(100% - 24px * 2);
    margin-top: 88px;
  }
}

@media screen and (max-width: 425px) {
  .places {
    width: 100%;
    margin-top: 64px;
  }
}
