.place__image {
  width: 460px;
  grid-column: 1 / 2;
  grid-row: 2 / 2;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    width: 340px;
  }
}

@media screen and (max-width: 632px) {
  .place__image {
    grid-column: 1 / 1;
    grid-row: 3 / 4;
    width: 100%;
  }
}

