.header {
  display: flex;
  width: 1184px;
  align-items: center;
  justify-content: space-between;
  margin-top: 28px;
  margin: 28px auto 0 auto;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 928px;
  }
}
