.header { /* 1280+ */
  display: flex;
  justify-content: space-between;
  width: calc(100% - 48px * 2);
  max-width: 1184px;
  margin: 28px auto 0 auto;
}

@media screen and (max-width: 1280px) { /* интервал 1024 - 1280 = макет 1024 */
  .header {
    max-width: 928px;
  }
}

@media screen and (max-width: 1024px) { /* интервал 768 - 1024 = макет 768 */
  .header {
    width: calc(100% - 24px * 2);;
    max-width: 720px;
    margin: 16px auto 0 auto;
  }
}

@media screen and (max-width: 768px) { /* интервал 320 - 768 = макет 320 */
  .header {
    width: calc(100% - 16px * 2);;
    max-width: 288px;
  }
}
