.header { /* 1280+ = макет 1280 */
  display: flex;
  justify-content: space-between;
  width: calc(100% - 48px * 2);
  margin: 28px auto 0 auto;
}

@media screen and (max-width: 768px) { /* макет 768 */
  .header {
    width: calc(100% - 24px * 2);
    margin-top: 16px;
  }
}

@media screen and (max-width: 425px) { /* макет 320 */
  .header {
    width: calc(100% - 16px * 2);
    margin-top: 16px;
  }
}
