.cover {
  margin: 93px auto 0 auto;
  width: calc(100% - 48px * 2);
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-top: 90px;
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    margin-top: 66px;
    width: 100%;
  }
}

