.lead__caption {
  font-size: 10px;
  line-height: 1.4;
  text-transform: uppercase;
  width: 984px;
  margin: 8px auto 0 auto;
}

@media screen and (max-width: 1024px) {
  .lead__caption {
    width: 928px;
  }
}
