.footer {
  display: flex;
  justify-content: space-between;
  margin: 92px auto 24px auto;
  width: calc(100% - 48px * 2);
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 24px * 2);
    margin-top: 88px;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    width: calc(100% - 16px * 2);
    margin-top: 64px;
    flex-direction: column;
  }
}
