.footer {
  margin: 92px auto 24px auto;
  width: 1184px;
  display: grid;
  grid-template-rows: calc(100% - 186px), 186px;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 88px auto 24px auto;
    width: 728px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin: 64px auto 24px auto;
    width: 320px;
  }
}
