.lead__map {
  margin: 90px auto 0 auto;
  width: 937px;
  height: 263px;
  justify-self: center;
}

@media screen and (max-width: 1024px) {
  .lead__map {
    margin: 85px auto 0 auto;
    width: 884px;
    height: 248px;
  }
}

@media screen and (max-width: 768px) {
  .lead__map {
    margin: 70px auto 0 auto;
    width: 731px;
    height: 205px;
  }
}

@media screen and (max-width: 320px) {
  .lead__map {
    margin: 70px auto 0 auto;
    width: 304px;
    height: 85px;
  }
}
